<!DOCTYPE HTML>
<html lang="RU" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav th:fragment="header" id="header"
     class="navbar fixed-top navbar-expand-md navbar-light bg-light ">
        <a class="navbar-brand p-2" th:href="@{/catalog}">Titan-kids</a>
        <ul class="navbar-nav p-2">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/catalog}">На главную</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/game/list}">Игры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/client/list}">Клиенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order/list}">Заказы</a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/report}">Отчёты</a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
</nav>
</body>