<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Подлючение стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-Hc9mJ3SoiC6o9gODwT/JQGi4580tDIWEwwCLECg6M0GgkleLr+Z/hLXQoNm1Paa1"
          crossorigin="anonymous">
    <title>PageGameconsole</title>
</head>

<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Игровые приставки</h1>
    <table>
        <tr th:each="gameconsole: ${gameconsole}">
            <td th:text="${gameconsole.id}" />
            <td th:text="${gameconsole.name}" />
            <td th:text="${gameconsole.description}" />
        </tr>
    </table>

    <!-- Использование Thymeleaf для динамического изменения содержания кнопки -->
    <button type="button" class="btn btn-primary" th:text="${buttonText}">Click me!</button>
</div>

<!-- Подлючение скриптов Bootstrap и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmIa0WwBc3RelpXokVw3"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEg4W5V9RU8lep293kJoNU"
        crossorigin="anonymous"></script>
</body>

</html>