<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Подлючение стилей Bootstrap -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Заказы</title>
</head>

<body>

<div class="container mt-5">
    <div class="container">
        <h1 class="text-center mb-4">Заказы</h1>
        <a th:href="@{/order/create}" type="button" class="btn btn-success m-1">Создать заказ</a>
    </div>
    <table class="table table-responsive">
        <tr th:each="order: ${order}">
            <td th:text="${order.id}"/>
            <td th:text="${order.createdAt}"/>
            <td th:text="${order.client.name}"/>
            <td th:text="${order.game.name}"/>
            <td th:text="${order.comment}"/>
            <td><a th:href="@{/order/{id}(id=${order.id})}" type="button" class="btn btn-primary">Редактировать</a></td>
            <td><a th:href="@{/order/delete/{id}(id=${order.id})}" type="button" class="btn btn-danger">Удалить</a></td>
        </tr>
    </table>
</div>

<!-- Подлючение скриптов Bootstrap и jQuery -->
<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>